@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Padauk&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// change the theme
$theme-colors: (
        "bg-primary": #6c8dfa,
        "danger": #ff4136,
        "secondary": #F7803E,
        "secondary1": #F7803E,
        "nav-bar": #6c8dfa,
        "nav-link-color": white,
        "overlay": rgba(108, 141, 250, 0.2),
);

$navbar-dark-color: #f2f2f2;
$navbar-dark-hover-color: #4f4f4f;


$font-family-sans-serif: 'Rubik', sans-serif;
p{
  word-spacing: -1px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';